<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/tasks/{id}(id=${task.getId()})}" th:object="${task}">
    <label for="text">Enter new task: </label>
    <input type="text" th:field="*{text}" id="text"/>
    <div style="color:red" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text Error</div>
    <br/>
    <input type="submit" value="Edit"/>
</form>
</body>
</html>